*.pyc
.DS_Store
/.idea/
.ipynb_checkpoints/
.spyproject
/lsforce.egg-info/
/doc/_build/doctrees/
/doc/api/
/cov_html/
/.coverage
/notebooks/forward/
/notebooks/iliamna_2016_paper/
/notebooks/lamplugh/
/notebooks/hunza_attabad/
